[Unit]
Description=daphne daemon
After=network.target

[Service]
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/ubuntu/crewboss_web/src/backend
ExecStart=/home/ubuntu/.virtualenvs/crewboss/bin/daphne --access-log - -p 9090 crewboss.asgi:application

[Install]
WantedBy=multi-user.target
