<head>
  <meta charset="utf-8">
  <title>Crew Boss</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <!-- BEGIN GLOBAL MANDATORY STYLES -->
  <link href="/dist/assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="/dist/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="/dist/assets/css/hamburgers.min.css" rel="stylesheet" type="text/css">
  <link href="/dist/assets/css/custom.css" rel="stylesheet" type="text/css">
  <!-- END GLOBAL MANDATORY STYLES -->
  <link rel="shortcut icon" href="/dist/assets/images/favicon.png">
  {% block extra_head %}
  {% endblock %}
</head>
<body>
  <div>
    <div class="container-fluid nav-fluid">
      <nav class="container nav nav-static">
        <div class="row">
          <div class="col-xs-4">
            <img src="/dist/assets/images/header-logo.png" alt="logo" class="nav-logo">
          </div>
        </div>
      </nav>
    </div>

    {% if not success %}
    <article class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="alert alert-danger">
            <h1 class="page-title bold">
              ERROR: {{ error }}
            </h1>
          </div>
        </div>
      </div>
    </article>
    {% elif message %}
    <article class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="alert alert-success">
            <h1 class="page-title bold" id="error-message">
              {{ message }}
            </h1>
            {% if next %}
            <a href="{{ next.url }}" class="btn btn-lg btn-primary">{{ next.text }}</a>
            {% endif %}
          </div>
        </div>
      </div>
    </article>
    {% endif %}

    {% block content %}
    {% endblock %}

    <div class="container-fluid content-footer-fluid">
      <footer class="container">
        <div class="row">
          <div class="col-lg-7 col-md-5 col-sm-12">
            <p class="copy content-copy">
              Copyright © 2019 <a target="_blank" href="https://crewbossconnect.com/">crewbossconnect.com</a> - All Rights Reserved
            </p>
          </div>
          <div class="col-lg-5 col-md-7 col-sm-12">
            <ul class="row login-ul">
              <li class="col-xs-4 pad-zero">
                <a target="_blank" href="https://crewbossconnect.com/terms-of-use/" class="content-footer-a">Terms of Use</a>
              </li>
              <li class="col-xs-4 pad-zero">
                <a target="_blank" href="https://crewbossconnect.com/privacy-policy/" class="content-footer-a">Privacy Policy</a>
              </li>
              <li class="col-xs-4 pad-zero">
                <a href="mailto:gary@crewbossconnect.com" class="content-footer-a">Contact</a>
              </li>
            </ul>
          </div>
        </div>
      </footer>
    </div>
  </div>
</body>
{% block extra_javascript %}
{% endblock %}
