.calendar {
  .mobile-sub-header {
    // background: #e3e9f5;
    // margin-top: -30px;
    // margin-bottom: 5px;
    padding: 10px 0;
    // display: block;

    .select-title {
      display: inline-block;
      font-size: 14px;
    }

    .mobile-filter-section {

      .cf-search-div {
        width: 190%;
        margin-top: 10px;
      }
      .dates-select,
      .role-select {
        width: 130px;
        height: 35px;
        background: #f0f5fb;
        border: 1px solid #d3d9e5;
        border-radius: 4px;
      }
      .role-select-task {
        width: 130px;
        height: 35px;
        background: #f0f5fb;
        border: 1px solid #d3d9e5;
        border-radius: 4px;
      }

      .arrows {
        border-radius: 12px;
        width: 25px;
        height: 25px;
        text-align: center;
        line-height: 25px;
        background: #fff;
        border: 0;
        color: #5599c8;
      }
    }

    .mobile-title {
      font-weight: 500;
      font-size: 15px;
      line-height: 17px;
      text-align: center;
    }

    .add-task-btn-mobile {
      width: 40px;
      height: 40px;
      background: #5599c8;
      color: #fff;
      padding: 2px 2px 2px 8px;
      font-size: 14px;
      border: 0;
      float: right;
      .fa {
        margin-right: 6px;
      }
    }
  }
}
